@media only screen and (min-width: 501px) {
  .navbar {
    font-display: flex;
  }
  .h1header {
    width: 100%;
  }
  .contenedorlibros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.cardsarticulos {
  background-color: rgb(8, 2, 58);
  color: rgba(255, 255, 255, 0.74);
}

section p {
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.74);
  font-size: 22px;
}

@media only screen and (max-width: 1024px) {
  .cardsarticulos {
    background-color: rgb(0, 0, 128);
    color: rgba(255, 255, 255, 0.74);
  }
  section p {
    font-family: "Playfair Display", serif;
    color: rgba(255, 255, 255, 0.74);
    font-size: 22px;
  }
}
.cardslibros, .mainindex, .h2header1 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.form, .formulariocomunidad, .h2comunidad, .contenedorlibros, .mainlibros, .contenedorreflexion, .titulosarticulos, .titulodearchivoslibros, .enlacereflexion, .articulosarchivos, .titulodearchivosarticulos, .menu, .logo-formulario {
  display: flex;
}

.oscurecerfondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
}

.enlacescompra, .enlaces {
  text-decoration: none;
  gap: 0.5em;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.938);
}

.enlacesfooter {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 3);
}

.titulodearchivoscomunidad, .titulodearchivos, .articulosarchivos, .titulodearchivosarticulos {
  background-color: navy;
  color: rgb(255, 255, 3);
  text-align: center;
}

* {
  font-family: "Rubik", sans-serif;
}

header ul li {
  list-style-type: none;
}

.h1header {
  color: rgb(255, 255, 0);
  background-color: rgb(0, 0, 128);
  margin: 0rem 6rem 0rem 0rem;
  height: 100%;
  font-size: 1rem;
}

.logo-formulario {
  width: 20%;
}

.navbar {
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
}

.contenedor-header {
  background-image: url(../images/imagen-inicial.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.mainindex {
  background-color: rgba(17, 17, 206, 0.932);
}

.mainindex h2 {
  margin-top: 1rem;
  color: rgb(255, 255, 3);
}

.h2header1 {
  margin-top: 5rem;
}

.menu {
  flex-direction: column;
}

.enlaces:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.titulodearchivosarticulos {
  margin: 0rem;
  padding-top: 4rem;
}

.imagenarticulos {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  height: 60vh;
}

.articulosarchivos {
  margin: 0rem;
  justify-content: center;
}

.titulodearchivos {
  margin: 0rem;
}

.h2lugar {
  background-color: rgb(0, 162, 255);
  margin: 0rem;
}

.imgbgreflexion {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  height: 40vh;
}

.enlacereflexion {
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 128);
}

.enlacereflexion:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.librosheader {
  background-image: url(../images/libroheader.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
}

.titulodearchivoslibros {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-top: 7rem;
}

footer {
  background-color: rgba(17, 17, 206, 0.932);
}

.mainindex {
  padding: 2rem;
  gap: 2rem;
}

.mainarticulos {
  background-color: rgba(17, 17, 206, 0.932);
}

.cardsarticulos {
  width: 100%;
  height: 100%;
  border: solid;
  color: rgb(255, 255, 255);
}
.cardsarticulos p {
  padding: 2rem;
}

.titulosarticulos {
  flex-direction: column;
  text-align: center;
}

.mainlugar {
  background-color: rgba(17, 17, 206, 0.932);
  padding: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-row: 2fr;
  row-gap: 20px;
}
.mainlugar h3 {
  text-align: center;
}

.mapa {
  width: 100%;
  height: 100%;
}

.contenedorreflexion {
  width: 100%;
  height: 100%;
  border: solid;
  color: rgb(255, 255, 255);
  flex-direction: column;
  text-align: center;
}

.mainlibros {
  gap: 2rem;
  padding: 2rem 2rem;
  background-color: rgba(17, 17, 206, 0.932);
}

.contenedorlibros {
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.cardslibros {
  width: 100%;
  height: 100%;
  border: solid;
  color: rgb(255, 255, 255);
}
.cardslibros h2 {
  color: yellow;
}

.enlacescompra:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.titulodearchivoscomunidad {
  margin: 0rem;
}

.h2comunidad {
  text-align: center;
  color: rgb(255, 255, 0);
  font-weight: 4px;
  margin-top: 0rem;
}

.maincomunidad {
  background-color: rgba(17, 17, 206, 0.932);
}

.formulariocomunidad {
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  width: 80%;
}

.form {
  justify-content: center;
}

@media only screen and (min-width: 501px) {
  .navbar {
    font-display: flex;
  }
  .h1header {
    width: 100%;
  }
  .contenedorlibros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.cardsarticulos {
  background-color: rgb(8, 2, 58);
  color: rgba(255, 255, 255, 0.74);
}

section p {
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.74);
  font-size: 22px;
}

@media only screen and (max-width: 1024px) {
  .cardsarticulos {
    background-color: rgb(0, 0, 128);
    color: rgba(255, 255, 255, 0.74);
  }
  section p {
    font-family: "Playfair Display", serif;
    color: rgba(255, 255, 255, 0.74);
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
